<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ShopMSU_PRO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ShopMSU_PRO.Properties.Settings.APD65_63011212004ConnectionString" connectionString="Data Source=202.28.34.250\SQLEXPRESS;Initial Catalog=APD65_63011212004;Persist Security Info=True;User ID=APD65_63011212004;Password=IBWTWVJX" providerName="System.Data.SqlClient" />
    <add name="msuShop" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=202.28.34.250\SQLEXPRESS;initial catalog=APD65_63011212004;persist security info=True;user id=APD65_63011212004;password=IBWTWVJX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="msuShop1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=202.28.34.250\SQLEXPRESS;initial catalog=APD65_63011212004;persist security info=True;user id=APD65_63011212004;password=IBWTWVJX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="msuShop2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=202.28.34.250\SQLEXPRESS;initial catalog=APD65_63011212004;persist security info=True;user id=APD65_63011212004;password=IBWTWVJX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="msuShop3" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=202.28.34.250\SQLEXPRESS;initial catalog=APD65_63011212004;persist security info=True;user id=APD65_63011212004;password=IBWTWVJX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APD65_63011212004Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=202.28.34.250\SQLEXPRESS;initial catalog=APD65_63011212004;persist security info=True;user id=APD65_63011212004;password=IBWTWVJX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APD65_63011212004Entities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=202.28.34.250\SQLEXPRESS;initial catalog=APD65_63011212004;persist security info=True;user id=APD65_63011212004;password=IBWTWVJX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APD65_63011212004Entities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=202.28.34.250\SQLEXPRESS;initial catalog=APD65_63011212004;persist security info=True;user id=APD65_63011212004;password=IBWTWVJX;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <ShopMSU_PRO.Properties.Settings>
      <setting name="username1" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="password1" serializeAs="String">
        <value>007</value>
      </setting>
      <setting name="username2" serializeAs="String">
        <value>shop</value>
      </setting>
      <setting name="password2" serializeAs="String">
        <value>999</value>
      </setting>
      <setting name="username3" serializeAs="String">
        <value>store</value>
      </setting>
      <setting name="password3" serializeAs="String">
        <value>000</value>
      </setting>
    </ShopMSU_PRO.Properties.Settings>
  </userSettings>
</configuration>